<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Hackathon 2017 - Demo</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Modern Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 <!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom CSS -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="css/lines.css" rel='stylesheet' type='text/css' />
<link href="css/font-awesome.css" rel="stylesheet">
<!-- jQuery -->
<script src="js/jquery.min.js"></script>
<!-- vis -->
<script type="text/javascript" src="js/vis.js"></script>
<link href="css/vis.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!----webfonts--->
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
<style type="text/css">
  #mynetwork {
    width: 1000px;
    height: 800px;
    border: 1px solid lightgray;
  }
  
  .modalLedgers {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content */
  .modalLedgers-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }

  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modalLedgers-header {
    padding: 2px 16px;
    background-color: rgb(6, 217, 149);
    color: white;
  }

  .modalLedgers-body {padding: 2px 16px;}

  .modalLedgers-footer {
    padding: 2px 16px;
    background-color: rgb(6, 217, 149);
    color: white;
  }
  
  .modalLoading {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
          url('/img/ajax-loader.gif') 
          50% 50% 
          no-repeat;
  }

  /* When the body has the loading class, we turn
     the scrollbar off with overflow:hidden */
  body.loading {
    overflow: hidden;   
  }

  /* Anytime the body has the loading class, our
     modal element will be visible */
  body.loading .modalLoading {
    display: block;
  }
</style>
</head>
<body ng-app="myApp" ng-controller="myCtrl">
<div class="modalLoading"><!-- Place at bottom of page --></div>
<!-- Adding a new customer address transaction -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModalAdd">Add an address</button>
<div id="myModalAdd" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Register a new customer </h4>
      </div>
      <div class="modal-body">
    <form action="" id="frmAdd">
      <div class="messages"></div>
      <div class="form-group">
        <label for="peer" class="cols-sm-2 control-label">Peer</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-database" aria-hidden="true"></i></span>
            <select id="peer" name="peer" class="form-control" ng-model="custpeer" id="sel1" >
              <option value="" disabled selected>Select your peer</option>
              <option value="ANZ" selected="">ANZ Bank</option>
              <option value="ASLL">ASLL Bank</option>
              <option value="BEND">BEND Bank</option>
              <option value="CBAA">CBAA Bank</option>
            </select>
          </div>
        </div>
      </div>          
      <div class="form-group">
        <label for="accountno" class="cols-sm-2 control-label">Bank account no</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="accountno" value="4209834902830" ng-model="custaccount" id="accountno"  placeholder="Enter account number"  tabindex=1/>
          </div>
        </div>
        <label for="name" class="cols-sm-2 control-label">Name</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="custname" value="John Mia" ng-model="custname" id="custname"  placeholder="Enter customer name" tabindex=2/>
          </div>
        </div>              
        <label for="icno" class="cols-sm-2 control-label">IC NO.</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-id-badge" aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="icno" value="12345671" ng-model="icno" id="icno"  placeholder="Enter IC No"  tabindex=4/>
          </div>
        </div>
        <label for="email" class="cols-sm-2 control-label">Email</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="email" value="john.mia@gmail.com" ng-model="custemail" id="email"  placeholder="Enter email"  tabindex=4/>
          </div>
        </div>
        <input id="button" class="btn btn-primary btn-lg btn-block login-button" value="Submit" onclick="add();">
      </div>
    </form>
  </div>
      </div>
    </div>
  </div>

<!-- Updating an existing bank address --> 
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModalUpdate">Update an address</button>
<div id="myModalUpdate" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update an customer information</h4>
      </div>
      <div class="modal-body">
          <form class="" method="post" action="/update">
            <div class="form-group">
              <label for="peer" class="cols-sm-2 control-label">Peer</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-database" aria-hidden="true"></i></span>
                  <select class="form-control" ng-model="custpeer" id="sel1" >
                    <option value="" disabled selected>Select your peer</option>
                    <option value="ANZ">ANZ Bank</option>
                    <option value="ASLL">ASLL Bank</option>
                    <option value="BEND">BEND Bank</option>
                    <option value="CBAA">CBAA Bank</option>
                  </select>
                </div>
              </div>
            </div>          
            <div class="form-group">
              <label for="username" class="cols-sm-2 control-label">Bank account no</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="username" ng-model="custaccount" id="username"  placeholder="Enter account number"  tabindex=1/>
                </div>
              </div>
              <label for="name" class="cols-sm-2 control-label">Name</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="custname" ng-model="custname" id="custname"  placeholder="Enter customer name" tabindex=2/>
                </div>
              </div>              
              <label for="icno" class="cols-sm-2 control-label">IC NO.</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-id-badge" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="icno" ng-model="icno" id="icno"  placeholder="Enter IC No"  tabindex=4/>
                </div>
              </div>
              <label for="email" class="cols-sm-2 control-label">Email</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="email" ng-model="custemail" id="email"  placeholder="Enter email"  tabindex=4/>
                </div>
              </div>
              <input type="submit" id="button" class="btn btn-primary btn-lg btn-block login-button" value="Submit">
            </div>            
          </form>
        </div>
      </div>
    </div>

  </div>
</div>


<!-- Deleting an address --> 
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModalDelete">Delete an address</button>
<div id="myModalDelete" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete an customer information</h4>
      </div>
      <div class="modal-body">
          <form class="" method="post" action="delete">
            <div class="form-group">
              <label for="peer" class="cols-sm-2 control-label">Peer</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-database" aria-hidden="true"></i></span>
                  <select class="form-control" ng-model="custpeer" id="sel1" >
                    <option value="" disabled selected>Select your peer</option>
                    <option value="ANZ">ANZ Bank</option>
                    <option value="ASLL">ASLL Bank</option>
                    <option value="BEND">BEND Bank</option>
                    <option value="CBAA">CBAA Bank</option>
                  </select>
                </div>
              </div>
            </div>          
            <div class="form-group">
              <label for="username" class="cols-sm-2 control-label">Bank account no</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="username" ng-model="custaccount" id="username"  placeholder="Enter account number"  tabindex=1/>
                </div>
              </div>
              <label for="name" class="cols-sm-2 control-label">Name</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="name" ng-model="custname" id="name"  placeholder="Enter customer name" tabindex=2/>
                </div>
              </div>              
              <label for="icno" class="cols-sm-2 control-label">IC NO.</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-id-badge" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="icno" ng-model="icno" id="icno"  placeholder="Enter IC No"  tabindex=4/>
                </div>
              </div>
              <label for="email" class="cols-sm-2 control-label">Email</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                  <input type="text" class="form-control" name="email" ng-model="custemail" id="email"  placeholder="Enter email"  tabindex=4/>
                </div>
              </div>
              <input type="submit" id="button" class="btn btn-primary btn-lg btn-block login-button" value="Submit">
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>

<center>
  <div id="wrapper">
     <!-- Navigation -->
        <!--nav id="header" class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0"></nav-->
        <div id="page-wrapper">
      <div class="graphs">
          <div id="mynetwork"></div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
  <div id="modalLedgers" class="modalLedgers">
    <div class="modalLedgers-content">
    <div class="modalLedgers-header">
      <span class="close" id="modalLedgers-close">&times;</span>
      <span id="modalHeaderName">
    </div>
    <div class="modalLedgers-body">
      <div class="panel panel-warning" data-widget="{&quot;draggable&quot;: &quot;false&quot;}" data-widget-static="">
        <div class="panel-body no-padding">
          <table class="table table-striped" id="tblBankLedgers">
            <thead>
              <tr class="warning">
                <th>#</th>
                <th>Account No</th>
                <th>IC No</th>
                <th>Name</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>
  </div>
<center>
    <!-- /#wrapper -->
    <!-- Bootstrap Core JavaScript -->
  <script type="text/javascript">
    //Modal
    var modalLedgers = document.getElementById('modalLedgers');
    var modalHeader = document.getElementById('modalHeaderName');
    var span = document.getElementById("modalLedgers-close");
    var nodes, edges, network, downNodes = [], allNodes = ["ANZ","ASLL", "CBAA", "BEND"];
    
    function startNetwork() {
      // create an array with nodes
      nodes = new vis.DataSet([
        {id: "ANZ", label: 'ANZ Bank', group: "PEER", x: -200, y: 0},
        {id: "ANZ_LEDGER", group: "LEDGER", x: -250, y: 90, value: "ANZ Bank"},
        {id: "ASLL", label: 'ASLL Bank', group: "PEER", x: 300, y: 0},
        {id: "ASLL_LEDGER", group: "LEDGER", x: 350, y: 90},
        {id: "BEND", label: 'BEND Bank', group: "PEER", x: -200, y: 300},
        {id: "BEND_LEDGER", group: "LEDGER", x: -250, y: 390},
        {id: "CBAA", label: 'CBAA Bank', group: "PEER", x: 300, y: 300},
        {id: "CBAA_LEDGER", group: "LEDGER", x: 350, y: 390}
      ]);

      // create an array with edges
      edges = new vis.DataSet([
        {from: "ANZ", to: "ASLL"},
        {from: "ANZ", to: "ANZ_LEDGER", arrows:'to', color:{color:'grey', opacity:0.3}},
        {from: "ANZ", to: "BEND"},
        {from: "ANZ", to: "CBAA"},
        {from: "ASLL", to: "BEND"},
        {from: "ASLL", to: "ASLL_LEDGER", arrows:'to', color:{color:'grey', opacity:0.3}},
        {from: "ASLL", to: "CBAA"},
        {from: "CBAA", to: "CBAA_LEDGER", arrows:'to', color:{color:'grey', opacity:0.3}},
        {from: "BEND", to: "CBAA"},
        {from: "BEND", to: "BEND_LEDGER", arrows:'to', color:{color:'grey', opacity:0.3}}
      ]);

      // create a network
      var container = document.getElementById('mynetwork');

      // provide the data in the vis format
      var data = {
        nodes: nodes,
        edges: edges
      };
      var options = {
        edges: {
          font: {
          size: 12
          },
          widthConstraint: {
          maximum: 90
          }
        },
        nodes: {
          shape: 'box',
          margin: 10,
          widthConstraint: {
          maximum: 200
          }
        },
        physics: {
          enabled: false
        },
        groups: {
          PEER: {
            color: "#109618",
            shape: "circle",
            font: {
              size: 12,
              color: "white"
            }
          },
          LEDGER: {
            shape: 'database',
            label: '\nLedger'
          }
        }
      }

      // initialize your network!
      network = new vis.Network(container, data, options);
          
      // When the user clicks anywhere outside of the modalLedgers, close it
      window.onclick = function(event) {
          if (event.target == modalLedgers) {
              modalLedgers.style.display = "none";
          }
      }
      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
          modalLedgers.style.display = "none";
      }
      
      //Vis event
      network.on("doubleClick", function (params) {
        var nodeStr = String(params['nodes']).toUpperCase();
        if (nodeStr.includes("_LEDGER")) {
          var bankCode = nodeStr.replace("_LEDGER", "");
          showLedgers(bankCode, params);
        }
        else if (!downNodes.includes(nodeStr)) {
          nodes.update([{id:nodeStr, color: "red"}]);
          edges.clear();
          downNodes.push(nodeStr);
          var edgesArr = [];
          for (var i = 0; i < allNodes.length; i++) {
            if (!downNodes.includes(allNodes[i])) {
              for (var j = 0; j < allNodes.length; j++) {
                if (!downNodes.includes(allNodes[j]) && allNodes[i] != allNodes[j]) {
                  edgesArr.push({from: allNodes[i], to: allNodes[j]});
                }
              }
              edgesArr.push({from: allNodes[i], to: allNodes[i]+"_LEDGER", arrows:'to', color:{color:'grey', opacity:0.3}});
            }
          }
          edges.add(edgesArr);
        }
        else if (downNodes.includes(nodeStr)) {
          nodes.update([{id:nodeStr, color: "green"}]);
          edges.clear();
          downNodes.pop(nodeStr);
          var edgesArr = [];
          for (var i = 0; i < allNodes.length; i++) {
            if (!downNodes.includes(allNodes[i])) {
              for (var j = 0; j < allNodes.length; j++) {
                if (!downNodes.includes(allNodes[j]) && allNodes[i] != allNodes[j]) {
                  edgesArr.push({from: allNodes[i], to: allNodes[j]});
                }
              }
              edgesArr.push({from: allNodes[i], to: allNodes[i]+"_LEDGER", arrows:'to', color:{color:'grey', opacity:0.3}});
            }
          }
          edges.add(edgesArr);
        }
      });
    }
    
    function showLedgers(bankCode, params) {
      modalHeader.innerHTML = "<h2>" + bankCode + " Bank Chains </h2>";
      $.ajax({
        type: "POST",
        url: "/getall",
        data: {peer: bankCode},
        dataType: "json",
        success: function(data) {
          if (data.result == 'success') {
            bankLedgers = data.ledgers;
            var i = 1;
            $("#tblBankLedgers").find("tr:gt(0)").remove();
            $.each(bankLedgers, function(key, value) {
              $('#tblBankLedgers').append("<tr><td>"+i+"</td><td>"+value.accountno+"</td><td>"+value.id+"</td><td>"+value.name+"</td><td>"+value.email+"</td></tr>");
              i++;
            });
          }          
          modalLedgers.style.display = "block";  
        }
      });    
    };
    
    function verifyPeerStatus() {
      downPeers = getDownPeers();
      for (var i = 0; i < downPeers.length; i++) {
        nodes.update([{id:downPeers[i], color: "red"}]);
      }
    }
    
    function getDownPeers() {
      return ["ANZ"];
    }
    
    function convertFormToJSON(form){
      var array = jQuery(form).serializeArray();
      var json = {};
      
      jQuery.each(array, function() {
        json[this.name] = this.value || '';
      });
      
      return json;
    }
    
    $body = $("body");
    $(document).on({
      ajaxStart: function() { $body.addClass("loading");},
      ajaxStop: function() { $body.removeClass("loading"); }    
    });
    function add() {
      $('#myModalAdd').modal('toggle');
      form = document.getElementById("frmAdd");
      formData = convertFormToJSON(form);
      $.ajax({
        type: "POST",
        url: "/add",
        data: formData,
        dataType: "json",
        success: function(data) {
          if (data.result == 'success') {
            //$('#myModalAdd').modal('toggle');
          }
          else {            
            $('#myModalAdd').modal('toggle');
            var messageText = data.message;
            // let's compose Bootstrap alert box HTML
            var alertBox = '<div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>' + messageText + '</div>';
            
            // If we have messageAlert and messageText
            if (messageText) {
              // inject the alert to .messages div in our form
              $('#frmAdd').find('.messages').html(alertBox);
            }
          }
        }
      });
      return false;
    }
    
    startNetwork();
    //verifyPeerStatus();
  </script>
  
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
